PGADMIN_PORT=5050
POSTGRESQL_PORT=5432
POSTGRESQL_USER=your_pgadmin_user
POSTGRESQL_PASS=your_pgadmin_password
POSTGRESQL_EMAIL="your_email@example.com"
POSTGRESQL_DB=your_db_name
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_USER=your_postgres_user
POSTGRES_DB=your_postgres_db
